body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #1c1c1c;
    border-bottom: #27FFBE;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

header p {
    color: #27FFBE;
    font-size: 30px;
    font-family: monospace;
}

main{
    background-color: #1c1c1c;  
    width: 100%; 
}
main #container{
    background-color: black;
    padding: 100px;
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-left: 100px;
    margin-right: 100px;
}
main #container div{
    display: flex;
    flex-direction: column;
}
main #container div img{
    width: 100px;
}