@font-face {
    font-family: "Bungee";
    src: url(../fonts/Bungee/Bungee-Regular.ttf);
}
@font-face {
    font-family: "Jersey";
    src: url(../fonts/Jersey_10/Jersey10-Regular.ttf);
}
@font-face {
    font-family: "Macado";
    src: url(../fonts/Supermercado_One/SupermercadoOne-Regular.ttf);
}
@font-face {
    font-family: "Neue";
    src: url(../fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}


*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

header {
    display: flex;
    width: 100%;
    height: 75px;
    background-color: black;
    border-bottom: #780606 solid 1px;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    gap: 600px;
    justify-content: space-between;
}
header nav ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
    align-items: center;
}
header nav ul li, a{
    text-decoration: none;
    color: rgb(167, 160, 160);
}
header nav ul #special{
    padding: 5px 7px;
    background-color: rgb(214, 163, 22);
    color: black ;
    border-radius: 5px;
}
header div{
    display: flex;
    gap: 5px;
    height: 40px;
    align-items: center;
}
header div p {
    color: rgb(167, 160, 160);
    font-size: 30px;
    font-family: "Bungee";
    margin-left: 5px;
}
header div div{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #780606;
}

/*picplay börjar här*/

#picPlay{
    width: 100%;
    height: 800px;
    background-color: #1c1c1c;  
    display: flex;
    justify-content: center;
    align-items: center;
}
#picPlay #movie{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-color: red;
    position: relative;
    z-index: 1;
}
#picPlay #movie b{
    font-size: 90px;
    position: absolute;
    top: 100px;
    left: 60px;
    color: white;
    opacity: 0.85;
    font-family: "Neue";
}
#picPlay #movie #movieInfo{
    display: flex;
    position: absolute;
    top: 210px;
    left: 60px;
    gap: 25px;
    justify-content: center;
    align-items: center;
}
#picPlay #movie #movieInfo #rating{
    color: #780606;
    font-family: "Neue";
    font-size: 25px;
    opacity: 0.9;
}
#picPlay #movie #movieInfo #release{
    color: rgb(228, 226, 226);
    font-family: "Neue";
    font-size: 25px;
    opacity: 0.9;
}
#picPlay #movie #movieInfo #category{
    color: rgb(228, 226, 226);
    font-family: "Neue";
    font-size: 25px;
    opacity: 0.9;
}
#picPlay #movie #description{
    width: 600px;
    position: absolute;
    top: 270px;
    left: 60px;
    color: rgb(228, 226, 226);
    opacity: 0.8;
    letter-spacing: 1.5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
#picPlay #movie .map{
    display: flex;
    gap: 10px;
    align-items: center;
    height: 75px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 90%;
    border-radius: 50px;
    padding: 0 10px;
}
#picPlay #movie .map div{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(167, 160, 160);
    opacity: 0.8;
}
#picPlay #movie .map .activeDot{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #780606;
    opacity: 0.8;
}
#picPlay #movie .map button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 20px;
    border: 0;
    background-color: rgb(167, 160, 160);
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}
#picPlay #movie .map button:hover{
    width: 55px;
    height: 55px;
    background-color: #780606;
    opacity: 0.9;
}
/* Movie List börjar här*/

#movielist{
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: black;
    display: flex;
    justify-content: center;
    gap: 10px;
    position: relative;
    padding-top: 200px;

}

#movielist #horrorTxt{
    position: absolute;
    font-size: 30px;
    padding-left: 20px;
    border-left: #780606 solid 3px;
    left: 35px;
    top: 150px;
    color: white;
}

#movielist .movieSub{
    display: flex;
    flex-direction: column;
    width: 220px;
    align-items: center;
    justify-content: center;
}

#movielist .movieSub img{
    width: 100%;
}
#movielist .movieSub .subSub{
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#movielist .movieSub p{
    font-size: 14px;
    color: white;
    opacity: 0.8;
}
#movielist .movieSub .subSub p{
    font-size: 15px;
    color: rgb(167, 160, 160);
}
#movielist .movieSub .subSub b{
    color: #780606;
    font-family: "Neue";
    font-size: 15px;
    opacity: 0.9;
}

/*main börjar här*/
main{
    background-color: black;  
    width: 100%; 
    padding-top: 100px;
    display: flex;
    justify-content: center;  
}

main #container{
    width: 1200px;
    background-color: black;
    border: solid 1px #780606;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-left: 100px;
    margin-right: 100px;
    align-items: end;
    opacity: 0.95;
    position: relative;
}
#txtContainer{
    width: 450px;
    height: 300px;
}
#text{
    font-size: 40px;
    position: absolute;
    color: #780606;
    left: 100px;
    top: 100px;
    font-family: "Neue";

}
main #container #txtContainer p{
    font-size: 15px;
    color: #780606;
    width: 400px;
    left: 100px;
    top: 150px;
    font-family: "Neue";
    position: absolute;
}
main #container #stats{
    display: flex;
    align-items: end;
    gap: 45px;
    width: 600px;
    justify-content: center;
    border-bottom: solid 1px #780606;
    border-left: solid 1px #780606;
}
main #container #stats div{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
main #container div img{
    width: 45px;
}
#num1 div{
    height: 220px;
    width: 45px;
    background-color: #780606;
}
#num2 div{
    height: 160px;
    width: 45px;
    background-color: #780606;
}
#num3 div{
    height: 150px;
    width: 45px;
    background-color: #780606;
}
#num4 div{
    height: 100px;
    width: 45px;
    background-color: #780606;
}
#num5 div{
    height: 95px;
    width: 45px;
    background-color: #780606;
}