@font-face {
    font-family: "Bungee";
    src: url(../fonts/Bungee/Bungee-Regular.ttf);
}
@font-face {
    font-family: "Jersey";
    src: url(../fonts/Jersey_10/Jersey10-Regular.ttf);
}
@font-face {
    font-family: "Macado";
    src: url(../fonts/Supermercado_One/SupermercadoOne-Regular.ttf);
}


*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

header {
    display: flex;
    width: 100%;
    height: 75px;
    background-color: #1c1c1c;
    border-bottom: #780606 solid 1px;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    gap: 600px;
}
header nav ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
    align-items: center;
}
header nav ul li, a{
    text-decoration: none;
    color: rgb(167, 160, 160);
}
header nav ul #special{
    padding: 5px 7px;
    background-color: rgb(214, 163, 22);
    color: black ;
    border-radius: 5px;
}
header div{
    display: flex;
    gap: 5px;
    height: 40px;
    align-items: center;
}
header div p {
    color: rgb(167, 160, 160);
    font-size: 30px;
    font-family: "Bungee";
    margin-left: 5px;
}
header div div{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #780606;
}

/*picplay börjar här*/

#picPlay{
    width: 100%;
    height: 800px;
    background-color: #1c1c1c;  
    display: flex;
    justify-content: center;
    align-items: center;
}
#picPlay #movie{
    width: 100%;
    height: 700px;
    background-image: url("../img/movieimg/picplay1.jpeg");
    background-size: cover;
    background-position: center;
    background-color: red;
    position: relative;
    z-index: 1;
}
#picPlay #movie b{
    font-size: 70px;
    position: absolute;
    top: 100px;
    left: 60px;
    color: white;
    opacity: 0.7;
    font-family: "Macado";
}
#picPlay #movie #movieInfo{
    display: flex;
    top: 130px;
    left: 60px;
}
#picPlay #movie #movieInfo #rating{
    color: #780606;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#picPlay #movie #description{
    width: 600px;
    position: absolute;
    top: 250px;
    left: 60px;
    color: white;
    opacity: 0.75;
    letter-spacing: 1.5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#picPlay #movie .map{
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 50px;
    left: 500px;
    align-items: center;
}
#picPlay #movie .map div{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(167, 160, 160);
    opacity: 0.7;
}
#picPlay #movie .map button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 20px;
    border: 0;
    background-color: rgb(167, 160, 160);
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}
#picPlay #movie .map button:hover{
    width: 55px;
    height: 55px;
    background-color: #780606;
    opacity: 0.85;
}



/*main börjar här*/
main{
    background-image: url("../img/movieimg/noCountry.jpeg");
    background-size: cover;
    background-color: #1c1c1c;  
    width: 100%; 
    padding-top: 100px;
    display: flex;
    justify-content: center;
    
}

main #container{
    width: 1200px;
    background-color: black;
    padding: 100px;
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-left: 100px;
    margin-right: 100px;
    align-items: end;
    opacity: 0.95;
    position: relative;
}
main #container #text{
    font-size: 40px;
    position: absolute;
    left: 750px;
    top: 50px;
    color: rgb(167, 160, 160);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
main #container div{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
main #container div img{
    width: 100px;
}
#num1 div{
    height: 350px;
    width: 100px;
    background-color: #780606;
}
#num2 div{
    height: 275px;
    width: 100px;
    background-color: #780606;
}
#num3 div{
    height: 200px;
    width: 100px;
    background-color: #780606;
}
#num4 div{
    height: 150px;
    width: 100px;
    background-color: #780606;
}
#num5 div{
    height: 110px;
    width: 100px;
    background-color: #780606;
}